:root {
   
    --primary-1: #B77466;   
    --primary-2: #E2B59A;   
    --primary-3: #FFE1AF;  

    
    --secondary-1: #957C62; 
    --secondary-2: #6B6054; 
   
    --accent-1: #F7C35F;   
    --accent-2: #F2A45C;   
    --accent-3: #FFB86F;   
    --accent-4: #FF9F43;   


    --bg-1: #FFF9F2;       
    --bg-2: #F4ECE7;       
    --text-1: #6B6054;     
    --text-2: #C8B6A6;     
}
