<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pawsome</title>
    <link rel="stylesheet" href="/static/css/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="banner">
        <img src="/static/images/logo.png" alt="logo">
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('signup') }}">SIGN-UP/LOG-IN</a></li>
                <li class="services">SERVICES &#9662;
                <div class="drop">
                    <a href="{{ url_for('training') }}">TRAINING</a>
                    <a href="{{ url_for('food') }}">NUTRITIONAL FOOD</a>
                    <a href="{{ url_for('toys') }}">PET TOYS</a>
                    <a href="{{ url_for('anger') }}">ANGER MITIGATION</a>
                    <a href="{{ url_for('groom') }}">GROOMING</a>
                    <a href="{{ url_for('session') }}">COUNSELLING SESSION</a>
                </div>
            </li>

            <li><a href="{{ url_for('about') }}">ABOUT</a></li>
            <li><a href="{{ url_for('home') }}">HOME</a></li>
        </ul>
        </nav>
    </div>
    <div class="mid-image"> 
        <div class="content">
            <h1>PAWSOME TRAINING CENTRE</h1>
            <p>Awesome Space For Your Awesome Pets</p>
        </div>
        <div class="about">
            <h3><u>About Us</u></h3>
            <p>Welcome to Pawsome Training Centre, your ultimate destination for enhancing your pet's well-being and strengthening your bond with them.
                Our team looks forward to train and provide for your fur-buddies the best experience.<br>We are here to give all the solutions for your pets overall development<br>
                 and relieving your burden about pets aggressive behaviour and seperation anxiety.
               <br> We promote healthy work and play environment so that you pets feel just safe and sound while training.<br>Contact us today. With every new member, we donate accessories and food to stray rescue centres in your city. We offer a diverse range of services including training tailored to your pet's needs, premium nutritional pet foods, engaging learning-based toys, professional grooming services, expert counseling sessions on behavior and wellness, and specialized anger mitigation sessions. Whether you're a pet owner looking to enrich your pet's life, an aspiring pet care professional seeking training opportunities, or simply passionate about pets, Pawsome Training Centre welcomes you to join our community. Whether you're starting as a trainee, gaining experience as an intern, or benefiting as a customer, discover how we can make every moment with your furry friend truly pawsome.</p>
        </div></div>
    
    <div class="foot">
        <div class="footerContainer">
            <div class="socialIcons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-google-plus"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
            <div class="footerNav">
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="footerBottom">
            <p>Copyright &copy;2024; Pawsome Team</p>
        </div>  
    </div>
</body>
</html>
</body>
</html>
    
